@import url("https://fonts.googleapis.com/css?family=Droid+Sans|Caveat+Brush");

body {
  background-color: #181e40;
  color: #ffffff;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 100%;
  padding: 2% 5%;
  height: auto;
}

.row {
  display: flex;
}

.align-center {
  align-items: center;
}

.btn {
  border: 2px solid #00ffff;
  border-radius: 168.607px;
  text-align: center;
  display: flex;
  padding: 10px 35px;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  width: max-content;
}

.join-main-btn{
  margin-top: 40px;
}

.btn:hover {
  background-color: #00ffff;
}

h1 {
  font-size: 3.7rem;
  margin: auto;
  line-height: 120%;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

h5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

h6 {
  font-size: 0.8rem;
  font-weight: 400;
}

span {
  color: #00ffff;
}

p {
  font-weight: 400;
}

hr {
  border: 1px solid #00ffff;
  background-color: #00ffff;
  margin: 0;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.display-off {
  display: none;
}

.display-on {
  display: block;
}

.content {
  width: 40%;
  color: #ffffff;
  font-weight: 700;
  padding: 2% 5%;
}

.about-content{
  margin-top: 150px;
  width: 46%;
}

.journey-content{
  margin-top: 60px;
  width: 42%;
}

.text-center {
  text-align: center;
}

.content-full {
  padding: 2% 5%;
}

.active-class {
  color: #00ffff !important;
  font-weight: 700 !important;
}

.floatClass {
  float: right;
}

.relative {
  position: relative;
}

.m-auto {
  margin: auto;
}

.mx-1 {
  margin: 0 0.5rem;
  height: 23px;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 3rem;
}

.px-0 {
  padding: 3% 0 !important;
}

.px-5 {
  padding: 0 5%;
}

.w-20 {
  width: 20%;
}

.w-80 {
  width: 80%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  max-width: 50%;
}

.img-twenty {
  width: 3rem;
}

.no-dis {
  display: none;
}

/* home */

#home-banner {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgba(24, 30, 64, 0.5);
}

 #home-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -100;
 }

 .home-top-content {
  color: #ffffff;
  font-weight: 700;
  padding: 2% 5%;
  }
  
  .home-main-top-desc {
    width: 48%;
  }
/* .home-bg {
  background-image: url(../img/home-bg-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw;
  height: 100vh;
} */

.btn a {
  margin: auto;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}

.scroll-more-arrow {
  display: none;
}

.home-container {
  height: 70%;
  display: flex;
  align-items: center;
}

.home-logo {
  width: 8%;
  align-items: center;
  display: flex;
}

.home-content {
  padding: 0;
}

.home-con {
  width: 45%;
  color: #ffffff;
  font-weight: 700;
  padding: 2% 5%;
}


.dot-work-right {
  position: absolute;
  left: 0;
  top: 160px;
  z-index: 0;
}

/* fixed button */

.fixedButton {
  display: none;
  position: fixed;
  right: -65px;
  top: 50vh;
  z-index: 1000;
}

.fixedButton .fButton {
  background: #181E40;
  color: #ffffff;
  width: 169px;
  height: 51px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  font-size: 18px;
  transform: rotate(270deg);
  border: 3px solid aqua;
  box-shadow: 0 0 26px 1px cyan, inset 0 0 1px 1px cyan;
  padding: 15px;
  cursor: pointer;
}

.be-partof-content {
  width: 70%;
  color: #ffffff;
  font-weight: 700;
  padding: 5% 3%;
}

.be-partof-content p {
  width: 73%;
}

.be-partof{
  font-family: 'Poppins';
  font-size: 15px;
  font-weight: 500;
}
/* navbar */

nav {
  padding: 3% 50px 20px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.nav-links {
  margin: auto 0;
  width: 75%;
  display: flex;
  justify-content: space-evenly;
}

.nav-links a {
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
}

.nav-links a:hover {
  font-weight: 700;
  color: #00ffff;
}

.nav-links-mobile {
  display: none;
}

/* .navbar-pc button {
  display: none;
} */

/* explore mritz */

.explore {
  background-image: linear-gradient(180deg, #0f152d, transparent),url(../img/network.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 87vh;
  max-width: 100vw;
  position: relative;
}

.dot-class {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.explore h5 {
  margin-bottom: 0;
}

/* video */

.c-video {
  /* margin-top:0px; */
  height: auto;
}

.c-video video {
  margin-top: 0px;
  /* height: 281px; */
  /* border-radius: 30px; */
}

.buttons .p-button {
  display: none;
}

/* .controls{
        transform: translateY(140%);
    } */
.timeline,
.bar,
.inner {
  /* display: none; */
  cursor: pointer;
}

.fullScButton {
  margin-top: 0;
  margin-left: 0;
  position: absolute;
  right: 4%;
  bottom: 7px;
  cursor: pointer;
}

.fullScButton img {
  cursor: pointer;
}

.p-button-inner {
  width: 106px;
  height: 106px;
}

.play,
.pause {
  width: 65px;
  height: 70px;
  cursor: pointer;
}

.c-video {
  width: 100%;
  height: 650px;
  /* height: 100vh; */
  position: relative;
  /* overflow: hidden; */
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 20px; */
}

.controls {
  display: flex;
  position: absolute;
  bottom: 15%;
  width: 100%;
  flex-wrap: wrap;
  transform: translateY(140%);
  margin-left: 30px;
}

.p-button-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 196px;
  height: 196px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 7px solid aqua;
}

.p-button-inner2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 196px;
  height: 196px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 4px solid aqua;
}

.buttons .p-button {
  border-radius: 50%;
  background-color: aqua;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.vdeoContainer .controls .timeline {
  flex: 1;
  display: flex;
  align-items: center;
  border: none;
}

.vdeoContainer .controls .timeline .bar {
  background: #ffffff;
  height: 4px;
  flex: 1;
  max-width: 91%;
}

.vdeoContainer .controls .timeline .bar .inner {
  background: aqua;
  width: 0%;
  height: 100%;
}

.fullScButton {
  margin-top: 15px;
  padding: 0;
  margin-left: 30px;
}

.fullScButton:hover {
  border: #181e40;
}

.containers {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.vdeoContainer {
  background-color: #181e40;
}


/* why in emirates */

.why-in-emirates {
  background-color: #161b3c;
  background-image: linear-gradient(to bottom right, #161b3c, #181e40);
}

.waste-space {
  max-width: 40%;
  padding: 0 20%;
}

.wie-text {
  max-width: 60%;
  float: right;
}

.image-fix {
  position: absolute;
  bottom: -32px;
  left: -62px;
  width: 671px;
  height: 680px;
}

.quote-style {
  height: 18px;
  width: auto;
}

.wie-mob {
  display: none;
}


/* circle of global */


/* .coge-container{
  background-image: url(../img/ellipse-1.png);
} */



/* text-part */

.text-part {
  padding-top: 3rem;
}

.text-part h2 {
  margin-top: 0;
}

.fat-dots {
  position: absolute;
  left: -118px;
  top: 25px;
}

.emirates-dot{
  position: absolute;
  right: 0px;
  margin-top: -90px;
}

.opportunity-dot{
  position: absolute;
  right: 0px;
  margin-top: -90px;
}

.text-part-mob {
  display: none;
}

/* unlimited opportunities */

.opportunities-box-wrapper {
  margin-top: 5rem;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.opportunities-box {
  width: 32%;
  border-radius: 20px;
  /* border: 1px solid #00FFFF; */
  background: #22294d;
  /* padding: 5rem; */
}

.opportunities-box-inner {
  padding: 12%;
}

.opportunities-box-inner p {
  margin-top: 12px;
  font-weight: 400px;
}

.opportunities-box-inner h4 {
  margin-bottom: 0;
  font-weight: 600px;
}

.arrows {
  float: right;
  display: flex;
}

.arrow-single {
  position: relative;
  width: 37.04px;
  height: 37.04px;
  margin: 0 5px;
  background: #232d5c;
  border-radius: 50px;
}

.arrow-single i::before {
  position: absolute;
  left: 12px;
  top: 10px;
}

.arrow-single:hover {
  background-color: #00ffff;
}

/* upcoming-projects */

.upcoming-projects-mob {
  display: none;
}

.upcoming-projects {
  background-image: linear-gradient(180deg, transparent, rgb(17, 22, 51)),url(../img/upcoming-projects-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.project-box-wrapper {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects-box {
  width: 13%;
  border-radius: 25px;
  border: 2px solid #00ffff;
}

.projects-box-inner {
  padding: 30% 0 20%;
  text-align: center;
  align-items: center;
}

.projects-box-inner p {
  margin: auto 0;
  line-height: 120%;
}

.project-wrapper {
  margin: 12rem 0px 3rem;
}

.projects-details-mobile {
  display: none;
}

/* channel-partners */

.channel-partners {
  padding: 0;
}
.partners-box-wrapper {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.partners-box {
  width: 22%;
  border-radius: 10px;
  margin: 1rem 0;
  height: 17vh;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #22294d;
  border: 3px solid transparent;
}

.partners-box:hover {
  border: 3px solid #00ffff;
}
.partners-box-inner {
  padding: 2% 5%;
  text-align: center;
  align-items: center;
  display: flex;
}

.partners-box-inner p {
  margin-bottom: 0;
}

.newsletter-box-wrapper {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.newsletter-box-wrapper p {
  margin: 0 auto;
}

.partners-box img {
  max-height: 70px;
  margin: auto !important;
  justify-content: center;
}

.about-box-wrapper {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.padding-fix {
  padding: 2% 0;
}

.read-more {
  width: 30%;
}

.read-more a {
  color: #00ffff;
  text-decoration: none;
}

.read-more img {
  width: 1.5rem;
  margin-left: 1rem;
}

/* footer */
#subBg {
  background-color: #111633;
  border-bottom: 2px solid #10e9d8;
}
.social-media{
  margin-top: 10px;
}

/* .subscribe-divs {
    max-width: 40%;
} */

.email-type {
  padding: 2.5% 5%;
  background: #0C1129;
  border-radius: 168.607px;
  border: 0px;
  width: 100%;
  height: 25px;
}

.email-type::placeholder {
  color: #a7aab8;
  font-family: poppins;
}

.email-typer {
  position: relative;
  display: flex;
}

.email-signup {
  position: absolute;
  right: 0;
  padding: 3.3% 3%;
  background: #00ffff;
  border-radius: 168.607px;
  border: 0px;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
  width: 20%;
  text-align: center;
}

.footer-bottom ul {
  margin-left: 0;
  padding-left: 0;
}

.footer-bottom li {
  margin-left: 2rem;
  color: #00ffff;
}

.footer-bottom ul li a {
  text-decoration: none;
  color: #ffffff;
}

.footer-bottom a {
  text-decoration: none;
  color: #ffffff;
}

.foot-mob {
  display: none;
}

/* about-page-customizations */

.home-bg-main{
  background-image: linear-gradient(135deg, rgba(24, 30, 64, 0.5), rgba(24, 30, 64, 0.5)),
      url(../img/home-bg-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: rgba(24, 30, 64, 0.5);

}

.employee-hide-mob {
  display: none;
}

#visionary-dots {
  /* background-image: linear-gradient(180deg, #0f152d, #162d4d) ; */
  position: relative;
}

#founding-team{
  background-image: linear-gradient(180deg, #162c4b, #11162f) ;
}

.about-mritz{
  background-image: linear-gradient(180deg, #11162f, #0d1022) ;
}

.img-container-wrapper {
  padding: 4% 8%;
}

.img-container {
  border-radius: 19px;
  border: 1px solid #00ffff;
  background-color: #111633;
}

.img-container-wrapper h4 {
  font-weight: 500;
}

#img-wrap-side {
  position: relative;
  top: 50px;
}

.visionary-side {
  max-height: 100%;
  position: absolute;
  left: -80px;
  top: -46px;
  z-index: -1;
}


.chairman-text h4 {
  margin-bottom: 0;
}

.chairman-text {
  float: right;
}

#chairman-container{
  height: 509px;
  width: 509px;
  margin-left: -96px;
}

#chairman-img{
  margin: 10px 30px;
}

.dot-work-visionary {
  position: absolute;
  right: 0;
  bottom: 0;
}

.team-container-small {
  width: 13%;
}

.team-container-big {
  width: 65%;
  margin-top: 10%;
  position: relative;
}

.text-team-big {
  width: 40%;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* news-page */

.news h3 {
  font-weight: 600;
}

.news h5 {
  margin: 0;
  font-size: 1rem;
  position: relative;
  color: #00ffff;
}

.news h5::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00ffff;
}

.news h6 {
  margin-top: 0;
}

.news h6 span {
  font-weight: 500;
  text-align: left;
  color: #cfc0c0;
}

.news-image-content {
  width: 50%;
  color: #ffffff;
  font-weight: 700;
  padding: 4% 0;
}

.read-more-class {
  justify-content: space-between;
  display: flex;
  cursor: pointer;
}

.action-buttons {
  padding: 1%;
  width: 20%;
  justify-content: space-between;
  display: flex;
}

.dot-class-news-1 {
  position: relative;
}

.dot-left {
  position: absolute;
  left: -11%;
  top: 5%;
}

.dot-right {
  position: absolute;
  right: -5%;
  bottom: 5%;
}

.dot-class-news-2 {
  position: relative;
}

.read-more-btn {
  font-family: Poppins;
  font-weight: 600;
  background-color: #111633;
  color: #ffffff;
}

.read-more-btn:hover {
  color: #111633;
}

/* News Modal */

.modal-container{
  position: absolute;
  background: #22294D;
  margin: 900px 80px;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.13);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.modal-wrapper{
  padding: 0px 118px 55px 87px;
}
.modal-img{
  min-width: 100%;
  max-height: 100vh;
}
.moda-inner-div{
  margin: 40px 0px;
  padding: 30px;
  background-color: #181e40;
}
.modal-container p{
  line-height: 24px;
}

.modal-container .moda-inner-div p{
  font-size: 18px;
  color: #00ffff;
}
.modal-container h6 span {
  font-weight: 500;
  text-align: left;
  color: #cfc0c0;
  padding: 0px 40px;
}
.modal-date-buttons{
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.modal-action-buttons {
  width: 20%;
  display: flex;
  margin-left: 50px;
}

.modal-action-buttons img{
  padding: 0px 10px;
}

#news-modal-1 {
  top: 33%;
  display: none;
}

#news-modal-2 {
  top: 760px;
  display: none;
}

#news-modal-3 {
  top: 760px;
  display: none;
}

#news-modal-4 {
  top: 760px;
  display: none;
}

.modal-close-btn {
  display: flex;
  justify-content: end;
  margin: 25px;
  cursor: pointer;
}
.modal-close-circle {
  width: 40px;
  height: 40px;
  position: absolute;
}
.modal-close-icon {
  width: 20px;
  height: 20px;
  margin: 10px;
}

/* advisor-page */

.hid-cont-mob {
  display: none;
}

.journey-img {
  position: relative;
}

.journey-text-wrapper {
  position: absolute;
  top: 10%;
  left: 10%;
}

.journey-text-wrapper h5,
h6 {
  margin: 0;
  font-weight: 600;
  color: #ffffff;
}

.journey-text-wrapper h5::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 170%;
  top: 5%;
  left: -14px;
  background-color: #00ffff;
}

.employee:hover {
  width: 80%;
  background-image: url(../img/employee-hover-pc.jpg);
  /* max-width: 100%;
    height: 150%; */
}

.employee:hover img {
  display: none;
}

.enlarged-text {
  display: none;
  text-align: start;
}

.enlarged-text h5 {
  margin: 0;
  font-weight: 600;
}

.employee:hover .enlarged-text {
  display: block;
  position: absolute;
  bottom: 2%;
  left: 8%;
}

.join-btn {
  background-color: #00ffff;
  color: #181e40;
  font-weight: 700;
  font-family: Poppins;
}

.advisor:hover {
  width: 80%;
  background-image: url(../img/advisor-big.jpg);
}

.advisor:hover img {
  display: none;
}

.advisor:hover .enlarged-text {
  display: block;
  position: absolute;
  bottom: 2%;
  left: 8%;
}

.investor:hover {
  width: 80%;
  background-image: url(../img/investor-big.jpg);
}

.investor:hover img {
  display: none;
}

.investor:hover .enlarged-text {
  display: block;
  position: absolute;
  bottom: 2%;
  left: 8%;
}

.service:hover {
  width: 80%;
  background-image: url(../img/service-big.jpg);
}

.service:hover img {
  display: none;
}

.service:hover .enlarged-text {
  display: block;
  position: absolute;
  bottom: 2%;
  left: 8%;
}

.partner:hover {
  width: 80%;
  background-image: url(../img/partner-big.jpg);
}

.partner:hover img {
  display: none;
}

.partner:hover .enlarged-text {
  display: block;
  position: absolute;
  bottom: 2%;
  left: 8%;
}

/* dots */

.dot-left-home-project {
  position: absolute;
  left: -75px;
}

.dot-right-home-project {
  position: absolute;
  right: 3px;
  bottom: 0;
}

/* media-query */

@media only screen and (max-width: 950px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  /* h4 {
        font-size: 1.5rem;
    } */

  .content {
    width: 90%;
    margin: auto;
    text-align: center;
  }

  .floatClass {
    float: none;
  }

  /* navbar */

  nav {
    padding: 3% 5%;
  }

  .navbar-pc {
    padding-top: 3rem;
    position: relative;
    z-index: 999;
  }

  .home-container {
    position: absolute;
    top: 13%;
  }

  .home-logo {
    width: 20%;
  }

  .nav-links {
    display: none;
  }

  .navbar-mob {
    display: block;
  }

  .navbar-toggler-opened {
    height: 45vh;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 10% 10% 0;
    width: 80%;
    background-color: #000;
    border-radius: 20px;
    margin-top: 1rem;
  }

  .navbar-toggler-opened a {
    font-family: Poppins;
    margin: 2% 0;
    text-decoration: none;
    color: #ffffff;
  }

  .bottom-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.3rem;
  }

  .bottom-logo hr {
    border: 1px solid #00ffff;
    background-color: #00ffff;
    margin: auto 0;
    height: 0.5px;
    width: 60%;
  }

  .navbar-toggler-opened a:hover {
    color: #00ffff;
    position: relative;
  }

  .navbar-toggler-opened a:hover::after {
    content: "";
    position: absolute;
    border: 2px;
  }

  .navbar-pc button {
    background: none;
    border: none;
  }

  /* home-page */

  .home-content {
    text-align: center;
    margin-top: 6rem;
    /* position: absolute;
    top: 10%; */
  }

  .home-top-content {
    margin-top: 580px;
    padding: 1% 4%;
  }

  .explore .container .content {
    text-align: center;
  }

  .home-main-top-desc {
    width: 100%;
  }

  .c-video {
    height: 50vh;
  }
  .vdeoContainer .controls {
    bottom: 20%;
    margin-left: 14px;
  }
  .fullScButton {
    right: 6%;
    bottom: 5px;
  }
  .vdeoContainer .controls .timeline .bar {
    max-width: 86%;
  }

  .fullScButton img {
    width: 15px;
  }

  #playPauseBtn {
    width: 70px;
    height: 70px;
    border: 6px solid aqua;
  }

  #playPauseBtn img {
    width: 25px;
    height: 25px;
  }

  .buttons .p-button {
    padding: 10px;
  }

  .home-content .btn {
    margin: 3rem auto;
    padding: 1rem 2rem;
    width: 30%;
  }

  .email-signup {
    padding: 3.8% 3%;
  }

  .opportunity-desc {
    text-align: center;
    font-size: 20px;
  }

  #subBg {
    background-image: linear-gradient(180deg, #181e40, #111633) ;
  }

  .social-media{
    margin-top: 40px !important;
  }

  .channel-partners {
    text-align: center;
  }

  .scroll-more-arrow {
    margin: 2rem auto;
    display: flex;
  }

  /* projects-details */

  .projects-details-large {
    display: none;
  }

  .projects-details-mobile {
    display: block;
  }

  .projects-details-mobile h2 {
    text-align: center;
  }

  .partners-box {
    width: 46%;
    height: 30%;
    border-radius: 10px;
    /* border: 2px solid #00ffff; */
    margin: 1rem 0;
  }

  .partners-box-inner {
    padding: 2% 5%;
    height: 30%;
    text-align: center;
    align-items: center;
  }

  .about-box-wrapper {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }

  .read-more {
    width: 100%;
    text-align: center;
  }

  .newsletter-box-wrapper div {
    margin: 0.5rem auto 0;
  }

  .subscribe-divs img {
    margin-top: 1rem;
  }

  .w-40 {
    width: 90%;
  }

  .foot-pc {
    display: none;
  }

  .foot-mob {
    display: block;
    padding-bottom: 90px;
  }

  .foot-mob a {
    font-size: 10px;
  }

  .foot-mob ul {
    justify-content: space-between;
  }

  .foot-mob li {
    margin-left: 0.5rem;
  }

  .foot-mob p {
    font-size: 0.8rem;
    text-align: center;
  }

  .projects-box {
    width: 45%;
    margin: 0.5rem 0;
  }

  .text-part-pc {
    display: none;
  }

  .text-part-mob {
    display: block;
  }

  .text-part-mob h2 {
    margin-top: 0;
  }

  .miq-img {
    width: 65%;
    display: flex;
    margin: auto;
  }

  .fat-dots,
  .dot-work-right,
  .dot-class,
  .dot-work-visionary,
  .dot-left,
  .dot-right {
    display: none;
  }

  .arrows {
    display: none;
  }

  .opportunities-box-wrapper {
    flex-direction: column;
  }

  .opportunities-box {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .waste-space {
    display: none;
  }

  .wie-text {
    max-width: 100%;
    text-align: center;
    padding: 0 3%;
  }

  .wie-pc {
    display: none;
  }

  .wie-mob {
    display: block;
  }

  .wie-mob h4 {
    text-align: center;
  }

  .project-wrapper {
    margin-top: 3rem;
  }

  .upcoming-projects {
    display: none;
  }

  .upcoming-projects-mob{
    display: block;
  }

  .upcoming-projects-mob .content {
    padding: 5%;
  }

  .upcoming-projects-mob-inner {
    background-image: linear-gradient(180deg, transparent, rgb(17, 22, 51)),url(../img/upcoming-projects-bg-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 445px;
  }

  .upcoming-projects-mob .content {
    padding: 30% 0%;
    text-align: center;
  }
  .upcoming-projects-mob .content p {
    padding: 0px 20px;
  }

  /* visionary-page */
  #visionary-dots .row {
    flex-direction: column;
  }

  #visionary-dots .img-container-wrapper {
    text-align: center;
  }

  .text-team-big img {
    display: none;
  }

  .employee-hide {
    display: none;
  }

  /* .small-employee-status{

    } */

  .team-img-container {
    width: 50%;
  }

  /* news-page */

  .news .row {
    flex-direction: column;
  }

  .news-image-content {
    width: 90%;
  }

  .column {
    display: flex;
    flex-direction: row;
  }

  .action-buttons {
    width: 30%;
  }

  /* journey-page */

  .journey-text {
    text-align: center;
  }

  .be-part-large {
    display: none;
  }

  .be-part {
    flex-direction: column;
  }

  /* be-part-page */

  .employ-mob {
    background-image: url(../img/employee-mob-small.jpg);
    border-radius: 6px;
    height: 18vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
  }

  .enlarged-text-mob {
    display: none;
  }

  .employ-mob:hover {
    background-image: url(../img/employee-hover-pc.jpg);
    height: 60vh;
  }

  .employ-mob:hover .enlarged-text-mob {
    display: block;
    text-align: center;
    margin: auto;
    padding: 5%;
  }

  .join-btn {
    margin: auto;
  }

  .mob-part-text-wrapper h5,
  h6 {
    margin: 0 auto;
    text-align: center;
    position: relative;
  }

  .mob-part-text-wrapper h5 {
    font-weight: 700;
  }

  .mob-part-text-wrapper h6::after {
    content: "";
    width: 40%;
    margin: auto;
    position: absolute;
    border: 1.5px solid #00ffff;
    background-color: #00ffff;
    bottom: -215%;
    left: 29%;
  }

  .advisor-mob {
    background-image: url(../img/advisor-mob-small.jpg);
    border-radius: 6px;
    height: 18vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
  }

  .advisor-mob:hover {
    background-image: url(../img/advisor-big.jpg);
    height: 60vh;
  }

  .advisor-mob:hover .enlarged-text-mob {
    display: block;
    text-align: center;
    margin: auto;
    padding: 5%;
  }

  .investor-mob {
    background-image: url(../img/investor-mob-small.jpg);
    border-radius: 6px;
    height: 18vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
  }

  .investor-mob:hover {
    background-image: url(../img/investor-big.jpg);
    height: 60vh;
  }

  .investor-mob:hover .enlarged-text-mob {
    display: block;
    text-align: center;
    margin: auto;
    padding: 5%;
  }

  .service-mob {
    background-image: url(../img/service-mob-small.jpg);
    border-radius: 6px;
    height: 18vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
  }

  .service-mob:hover {
    background-image: url(../img/service-big.jpg);
    height: 60vh;
  }

  .service-mob:hover .enlarged-text-mob {
    display: block;
    text-align: center;
    margin: auto;
    padding: 5%;
  }

  .channel-mob {
    background-image: url(../img/channel-mob-small.jpg);
    border-radius: 6px;
    height: 18vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
  }

  .channel-mob:hover {
    background-image: url(../img/partner-big.jpg);
    height: 60vh;
  }

  .channel-mob:hover .enlarged-text-mob {
    display: block;
    text-align: center;
    margin: auto;
    padding: 5%;
  }
}

@media only screen and (min-width: 950px) {
  .navbar-pc button {
    display: none;
  }
}
